@use "variables" as v;

@keyframes slide-in-from-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-from-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@mixin slide-element($direction: 'right', $delay: 0s, $duration: 0.3s) {
  opacity: 0;

  @if $direction == 'right' {
    transform: translateX(100%);
  } @else {
    transform: translateX(-100%);
  }

  transition: opacity v.$transition-slow, transform v.$transition-slow;

  @if $direction == 'right' {
    animation: slide-in-from-right $duration ease-out $delay forwards;
  } @else {
    animation: slide-in-from-left $duration ease-out $delay forwards;
  }
}

@keyframes slide-in-from-center {
  from {
    transform: translate(0, 0) scale(0);
    opacity: 0;
  }
  to {
    transform: translate(var(--slide-x, 0), var(--slide-y, 0)) scale(1);
    opacity: 1;
  }
}

@mixin slide-from-center($delay: 0s, $duration: 0.3s) {
  opacity: 0;
  transform: translate(0, 0) scale(0);
  transition: opacity v.$transition-slow, transform v.$transition-slow;

  animation: slide-in-from-center $duration ease-out $delay forwards;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
