<header class="app-header" [class.app-header--white]="showWhiteHeader" role="banner">
  <div class="app-header__container">
    <div class="app-header__logo">
      <img src="logo/logo_orange.svg" alt="PollApp Logo" />
    </div>

    <div class="app-header__actions">
      <a
        *ngIf="showCreateButton"
        [routerLink]="routerLink"
        class="btn btn--primary app-header__button"
      >
        <span>{{ buttonText }}</span>
      </a>

      @if (authService.isLoggedIn) {
        <app-user-menu [user]="authService.currentUser()!" />
      } @else {
        <a routerLink="/login" class="app-header__login-link">Login</a>
      }
    </div>
  </div>
</header>
