@use 'styles/abstract/variables' as v;

.app-header {
  display: flex;
  align-items: center;
  height: 60px;
  transition: background-color 0.3s ease, color 0.3s ease;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__logo {
    width: 120px;
  }

  &__button {
    margin-left: auto;
  }

  // White variant for survey detail page
  &--white {
    background: white;
    color: v.$text-primary;
  }
}

nav {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
