@use '../../../../styles/abstract/variables' as *;

.survey-meta {
  margin-bottom: $spacing-2xl;

  &__title {
    font-size: 3.5rem;
    font-weight: 400;
    color: $text-secondary;
    line-height: 50px;
    margin: 0 0 $spacing-md;
  }

  &__description {
    font-size: 1rem;
    line-height: 1.6;
    color: $text-primary;
    margin: 0;
    opacity: 0.85;
  }
}
