@use "styles/abstract/variables" as v;

.your-surveys {
  max-width: v.$max-width;
  margin: 0 auto;
  padding: 1rem 8rem;
  background-color: v.$primary;


  &__title {
    font-family: 'Nerko One', cursive;
    font-style: italic;
    font-size: 72px;
    font-weight: 400;
    color: v.$text-secondary;
    text-align: center;
    margin: 0 0 v.$spacing-2xl;
  }

  &__section-title {
    font-size: 32px;
    font-weight: 100;
    color: v.$text-base;
    margin: 0 0 v.$spacing-lg;
  }

  &__highlights {
    margin-bottom: v.$spacing-2xl;
    padding-bottom: v.$spacing-2xl;
  }

  &__cards {
    display: flex;
    gap: v.$spacing-lg;
    overflow-x: auto;

  }
}
