
@use 'styles/base/fonts';
@use 'styles/base/reset';
@use 'styles/abstract/variables' as v;
@use 'styles/components/components';

body {
  max-width: v.$breakpoint-xxl;
  margin: 0 auto;
  background: v.$primary;
}
